.hero {
  height: calc(100vh - 65px);
  background-image: url('../../img/home/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  font-size: 10px;
}

.hero__container {
  grid-column: 1/8;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 62px;
}

.hero__content {
  display: flex;
  align-items: flex-end;
}

.hero__title {
  font-size: 10em;
  margin-bottom: 16px;
}

.hero__paragraph {
  font-size: 5em;
}

.pictures-slide {
  min-height: 100vh;
  font-size: 10px;
  /* margin: 14.5em 0; */
}

.pictures-slide__description {
  font-size: 6.5em;
  grid-column: 1/9;
}

.pictures-slide__slide {
  margin-top: 6.5em;
  height: 600px;
  width: 100%;
  grid-column: 1/12;
  object-fit: cover;
}

.pictures-slide__action {
  margin-top: 2.5em;
  display: flex;
  grid-column: 7/12;
  justify-content: space-between;
}

.pictures-slide__button {
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mosaico {
  min-height: 100vh;
  font-size: 10px;
  padding-top: 50px;
  background: #f8f8f8;
}

.mosaico__description {
  grid-column: 1/8;
  font-size: 5.4em;
  grid-row: 1/2;
}

.mosaico__container {
  grid-template-rows: repeat(6, 1fr);
}

.mosaico__container div:nth-child(2) {
  grid-column: 1/4;
  grid-row: 2/6;
}

.mosaico__container div:nth-child(3) {
  grid-column: 4/9;
  grid-row: 3/6;
}

.mosaico__container div:nth-child(4) {
  grid-column: 9/13;
  grid-row: 2/6;
}

.mosaico__image-container {
  margin: 0 20px;
}

.mosaico__image {
  width: 100%;
  object-fit: cover;
  border: 30px solid black;
}

.mosaico__image {
  height: 350px;
}

.mosaico__image-2 {
  height: 500px;
}

.mosaico__image-3 {
  height: 500px;
}

.mosaico__image-title {
  font-size: 2.8em;
  line-height: calc(28px * 1.5);
  font-weight: 500;
  margin-top: 16px;
}

.mosaico__image-subtitle {
  font-size: 2.0em;
}

.mosaico__button {
  grid-column: 10/13;
  grid-row: 6/6;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mosaico__button>a {
  margin-left: 20px;
}

.cards {
  min-height: 100vh;
  margin-top: 100px;
  font-size: 10px;
}

.card {
  background: #ccc;
  min-height: 620px;
}

.card__container {
  grid-template-rows: repeat(10, 1fr);
}

.card:first-child {
  object-fit: cover;
  grid-column: 1/6;
  grid-row: 1/11;
}

.card:last-child {
  object-fit: cover;
  grid-column: 8/13;
  grid-row: 3/11;
}

.card__image {
  width: 100%;
  height: 400px;
}

.card__description {
  margin: 40px;
  font-size: 2.5em;
  line-height: calc(20px * 1.5);
}

.card__button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 40px;
}

.card__button>p {
  font-size: 2.5em;
  margin-right: 10px;
}

.card__button>a {
  width: 40px;
  height: 40px;
}

.card__button>a>img {
  width: 10px;
}

@media (max-width: 480px) {
  .mosaico__description {
    grid-column: 1/7;
    grid-row: 1/2;
    font-size: 3.4em;
  }

  .mosaico__container {
    grid-template-rows: none;
  }

  .mosaico__container div:nth-child(2) {
    grid-column: 1/7;
    grid-row: 2/3;
  }

  .mosaico__container div:nth-child(3) {
    grid-column: 1/7;
    grid-row: 3/4;
  }

  .mosaico__container div:nth-child(4) {
    grid-column: 1/7;
    grid-row: 4/6;
  }

  .mosaico__button {
    grid-column: 1/7;
    margin: 30px 0;
  }

  .mosaico__image-1 {
    height: 500px;
  }

  .card:first-child {
    grid-column: 1/7;
    grid-row: 1/5;
  }

  .card:last-child {
    grid-column: 1/7;
    grid-row: 6/10;
  }

}

@media(min-width:481px) and (max-width: 768px) {

  .hero {
    height: calc(60vh - 65px);
  }

  .hero__container {
    grid-column: 1/9;
  }

  .hero__title {
    font-size: 5.5em;
  }

  .hero__paragraph {
    font-size: 3em;
    line-height: 35px;
  }

  .pictures-slide {
    margin-top: 100px;
    min-height: 80vh;
  }

  .pictures-slide__description {
    grid-column: 1/9;
    font-size: 4.5em;
  }

  .pictures-slide__slide {
    margin-top: 60px;
    grid-column: 1/9;
    height: 400px;
  }

  .pictures-slide__button {
    width: 200px;
  }

  .pictures-slide__action {
    grid-column: 3/9;
  }

  .mosaico {
    min-height: 85vh;
 
  }
  .mosaico__description {
    grid-column: 1/9;
    font-size: 3.5em;
  }

  .mosaico__container {
    grid-template-rows: repeat(4, 1fr)
  }

  .mosaico__container div:nth-child(2) {
    grid-column: 1/4;
  }

  .mosaico__container div:nth-child(3) {
    grid-column: 5/9;
  }

  .mosaico__container div:nth-child(4) {
    grid-column: 9/13;
  }

  .mosaico__image-container {
    margin: 0;
  }
  
  .mosaico__image {
    border: 20px solid black;
  }
  
  .mosaico__image {
    height: 250px;
    width: 200px;
  }
  
  .mosaico__image-2 {
    height: 250px;
  }
  
  .mosaico__image-3 {
    height: 250px;
  }
  
  .mosaico__image-title {
    font-size: 2em;
    margin-top: 16px;
  }
  
  .mosaico__image-subtitle {
    font-size: 1.5em;
  }
  
  .cards {
    min-height: 130vh; 
  }
  
  .card {
    min-height:500px;
  }
  
  .card__container {
    grid-template-rows: repeat(4, 1fr);
  }

  .card__image {
    height: 300px;
  }
  
  .card__description {
    font-size: 2.4em;
  }
  
  .card__button>p {
    font-size: 2.2em;
  }
  
.card:first-child {
    grid-column: 3/7;
    grid-row: 1/3;
  }

  .card:last-child {
    grid-column: 3/7;
    grid-row: 3/5;
    margin-top: 50px;
  } 
}