.hero {
  height: calc(100vh - 65px);
  background-image: url('../../img/home/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 65px;
}

.hero__container {
  grid-column: 1/8;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 55px;
}

.hero__content {
  display: flex;
  align-items: flex-end;
}

.hero__button{
  margin-left: 20px;
}

.fundo{
  background: rgba(126, 126, 126, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
}
.pictures-slide {
  display: flex;
  align-items: center;
  min-height: 100vh;
  font-size: 10px;
  padding: 80px 0px;
}

.pictures-slide__description {
  font-size: 4.5em;
  grid-column: 1/7;
}

.pictures-slide__slide {
  margin-top: 45px;
  height: 500px;
  width: 100%;
  grid-column: 1/10;
  object-fit: cover;
}

.pictures-slide__action {
  display: flex;
  grid-column: 5/10;
  justify-content: space-between;
}

.pictures-slide__button {
  width: 195px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow__button{
  width: 20px;
}

.mosaico {
  padding-top: 100px;
  background: #f8f8f8;
}

.mosaico__description {
  grid-column: 1/7;
  grid-row: 1/2;
  font-size: 3em;
}

.mosaico__image {
  object-fit: cover;
}
.mosaico__container {
  grid-template-rows: repeat(6, 1fr);
}

.mosaico__container div:nth-child(2) {
  grid-column: 1/5;
  grid-row: 2/6;
}

.mosaico__container div:nth-child(3) {
  grid-column: 5/9;
  grid-row: 3/6;
}

.mosaico__container div:nth-child(4) {
  grid-column: 9/13;
  grid-row: 2/6;
}

.mosaico__image-container {
  margin: 0 10px;
}

.mosaico__image {
  width: 100%;
  object-fit: cover;
  border: 25px solid black;
}

.mosaico__image {
  height: 400px;
}

.mosaico__image-2 {
  height: 450px;
}

.mosaico__image-3 {
  height: 450px;
}

.mosaico__image-title {
  font-size: 2em;
  line-height: calc(28px * 1.5);
  font-weight: 700;
}

.mosaico__image-subtitle {
  font-size: 1.5em;
}

.mosaico__button {
  grid-column: 10/13;
  grid-row: 6/6;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mosaico__button>a {
  margin-left: 20px;
}

.cards {
  min-height: 700px;
  margin-top: 80px;
}

.card__image{
  object-fit: cover;
}
.card {
  background: #ccc;
  min-height: 600px;
}

.card__container {
  grid-template-rows: repeat(1, 1fr);
}

.card:first-child {
  object-fit: cover;
  grid-column: 2/6;
  grid-row: 1/2;
}

.card:last-child {
  object-fit: cover;
  grid-column: 8/12;
  grid-row: 1/2;
}

.card__image {
  width: 100%;
  height: 350px;
}

.card__description {
  padding: 40px;
  font-size: 1.5em;
  line-height: calc(20px * 1.5);
}

.card__button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 40px;
}

.card__button>p {
  font-size: 1.5em;
  margin-right: 10px;
}

.card__button>a {
  width: 40px;
  height: 40px;
}

.card__button>a>img {
  width: 12px;
}

@media (max-width: 480px) {

  .hero {
    height: 60vh;
  }

  .hero__container {
    grid-column: 1/7;
    margin-bottom: 30px;
  }

  .hero__title {
    font-size: 2em;
    margin-bottom: 10px;
  }

  .hero__paragraph {
    font-size: 1.5em;
    line-height: 25px;
  }

  .hero__button{
    display: none;
  }

  .pictures-slide {
    min-height: 80vh;
    padding: 40px 0px;
  }

  .pictures-slide__description {
    grid-column: 1/9;
    font-size: 2.8em;
  }

  .pictures-slide__slide {
    margin-top: 30px;
    grid-column: 1/9;
    height: 400px;
  }

  .pictures-slide__button {
    display: none;
  }

  .pictures-slide__action {
    grid-column: 1/7;
  }

  .mosaico {
    padding-top: 40px;
  }

  .mosaico__container {
    grid-template-rows: repeat(6, 1fr);
  }

   .mosaico__description {
    grid-column: 1/7;
    font-size: 1.8em;
    margin-bottom: 40px;
  } 

  .mosaico__container {
    grid-template-rows: none;
  }

  .mosaico__container div:nth-child(2) {
    grid-column: 1/7;
    grid-row: 2/3;
  }

  .mosaico__container div:nth-child(3) {
    grid-column: 1/7;
    grid-row: 3/4;
    
  }

  .mosaico__container div:nth-child(4) {
    grid-column: 1/7;
    grid-row: 4/6; 
    margin-bottom: 50px;
  } 

  .mosaico__button {
    display: none;
  }

  .mosaico__image {
    height: 350px;
  }
  
  .mosaico__image-2 {
    height: 350px;
  }
  
  .mosaico__image-3 {
    height: 350px;
  }

  .mosaico__image-title {
    margin-top: 2px;
    font-size: 1.7em;
  }

  .mosaico__image-subtitle {
    margin-bottom: 30px;
    font-size: 1.4em;
  }

  .card{
    min-height: auto;
  }
  
  .card__image {
    height: 250px;
  }
  
  .card__description {
    font-size: 1.5em;
    padding: 20px;
  }
  
  .card__button {
    padding: 20px;
  }
  .card__button>p {
    font-size: 1.7em;
  }

  .card:first-child {
    grid-column: 1/7;
    grid-row: 1/2;
    margin-bottom: 30px;
  }

  .card:last-child {
    grid-column: 1/7;
    grid-row: 2/2;
    margin-bottom: 80px;
  }

}

@media(min-width:481px) and (max-width: 768px) {

  .hero {
    height: calc(60vh - 65px);
  }

  .hero__container {
    grid-column: 1/7;
  }

  .hero__title {
    font-size: 3.4em;
  }

  .hero__paragraph {
    font-size: 2em;
    line-height: 35px;
  }

  .pictures-slide {
    min-height: 80vh;
  }

  .pictures-slide__description {
    grid-column: 1/7;
    font-size: 3.8em;
  }

  .pictures-slide__slide {
    margin-top: 60px;
    grid-column: 1/9;
    height: 400px;
  }

  .pictures-slide__button {
    width: 170px;
  }

  .pictures-slide__action {
    grid-column: 4/9;
  }

  .mosaico__description {
    grid-column: 1/11;
    font-size: 2.4em;
  }

  .mosaico__image-container {
    margin: 0;
  }
  
  .mosaico__image {
    border: 20px solid black;
  }
  
  .mosaico__image {
    height: 250px;
    width: 200px;
  }
  
  .mosaico__image-2 {
    height: 250px;
  }
  
  .mosaico__image-3 {
    height: 250px;
  }
  
  .mosaico__image-title {
    font-size: 1.5em;
  }
  
  .mosaico__image-subtitle {
    font-size: 1em;
  }
  
  .cards {
    min-height: 0;
  }
  
  .card {
    min-height: 0;
    height: 470px;
    margin-bottom: 80px;
  }
  
  .card__container {
    grid-template-rows: repeat(1, 550px);
  }

  .card__image {
    height: 200px;
  }
  
  .card__description {
    font-size: 1.5em;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .card__button {
    padding-left: 20px;
    padding-right: 20px;
  }

  .card__button>p {
    font-size: 1.5em;
  }
  
.card:first-child {
    grid-column: 2/5;
    grid-row: 1/1;
  }

  .card:last-child {
    grid-column: 5/8;
    grid-row: 1/1;
  } 
}