/* Header */
.header-robocup {
    width: 100%;
    height: calc(100vh - 65px);
    top: 65px;
    background-image: url("../../img/robocup/robocup_header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.fundo{
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
  }
.header-robocup__description {
    width: 60%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 70px;
}

.header-robocup__text-main{
padding-top: 20px;
}

/* About Robocup */
.about-robocup {
    padding-top: 60px;
    display: flex;
}

.about-robocup__spotlight {
    width: 320px;
}

.about-robocup__text {
    width: 45%;
    margin-left: 100px;
}

/* Middle image*/
.about-robocup__middle {
    width: 100%;
    height: 500px;
    margin-top: 60px;
}

.about-robocup__content {
    width: 100%;
    height: 100%;
}

.about-robocup__middle-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Join Robocup */
.join__robocup {
    width: 100%;
    margin: 90px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.join__content {
    width: 600px;
    height: 500px;
}

.join__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.join_text {
    width: 587px;
    margin-left: 50px;
}

@media(max-width: 480px) {

    .header-robocup {
        height: 60vh;
    }

    .header-robocup__description {
        width: 100%;
        height: 100%;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 40px;
    }

    /* About Robocup */
    .about-robocup {
        padding: 40px 0px;
        flex-direction: column;
    }

    .about-robocup__spotlight {
        width: 100%;
        margin-bottom: 30px;
    }

    .about-robocup__text {
        width: 100%;
        margin-left: 0px;
    }

    /* Middle image*/
    .about-robocup__middle {
        height: 350px;
        margin-top: 0px;
    }

    /* Join Robocup */
    .join__robocup {
        margin: 50px 0px;
        flex-direction: column-reverse;
    }

    .join__content {
        width: 100%;
        height: 300px;
        margin-top: 30px;
    }

    .join__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .join_text {
        width: 100%;
        margin-left: 0px;
    }

}



@media (min-width:481px) and (max-width: 768px) {

    .header-robocup {
        height: 50vh;
    }

    .header-robocup__description {
        width: 80%;
    }


    /* About */
    .about-robocup {
        flex-direction: column;
    }

    .about-robocup__spotlight {
        width: 80%;
    }

    .about-robocup__text {
        width: 100%;
        padding-top: 40px;
        margin-left: 0px;
    }

    /* Join */
    .join__robocup {
        margin-top: 40px;
        flex-direction: column-reverse;
    }

    .join__content {
        width: 100%;
    }

    .join_text {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 40px;
    }


}