.title{
    font-size: var(--title);
    line-height: var(--titleLH);
    margin-bottom: 5px;
}

.subtitle{
    font-size: var(--subtitle);
    width: 490px;
}

.text{
    font-size: var(--pSize);
    line-height: var(--pLH);
}

/* Header */
.header{
    width: 100%;
    height: calc(100vh - 65px);
    top: 65px;
    background-image: url(/src/img/robocup_header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fundo{
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
}

.header_text{
    width: 720px;
    color: #fff;
    position: relative;
    top: 55%;
    margin-left: 40px;
}

/* About Robocup */
.about_robocup{
    margin: 100px 40px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    box-sizing: border-box;
}

.text_about{
    width: 658px;
    justify-content: center;
}

/* Middle image*/
.middle_image{
    text-align: center;
    width: 80%;
    height: 500px;
    background-color:#C4C4C4;
    margin: 100px auto;
}

/* Join Robocup */
.join_robocup{
    width: 95%;
    margin: 150px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
}

.join_image{
    width: 697px;
    height: 600px;
    background-color: #C4C4C4;
}

.join_text{
    width: 587px;
    margin-left: 50px;
    justify-content: center;
}

@media(max-width: 790px){

    .title{
        font-size: var(--titleMid);
        line-height: var(--titleLHMid);
    }
    
    .subtitle{
        font-size: var(--subtitleMobile);
        line-height: var(--subtitleLHMobile);
        width: 90%;
        margin-bottom: 20px;
    }
    
    .text{
        font-size: var(--pSizeMobile);
        line-height: var(--pLHMobile);
    }

    .header{
        width: 100%;
        height: 300px;
    }

    .header_text{
        width: 450px;
        top: 45%;
        margin-left: 20px;
    }

    /* About */
    .about_robocup{
        margin: 30px 20px;
        width: 90%;
        display: block;
        padding: 0px;
    }

    .text_about{
        width: 100%;
        margin: 0px;
    }

    /* Middle image*/
    .middle_image{
    width: 80%;
    height: 210px;
    margin: 30px auto;
    }

    /* Join */
    .join_robocup{
        width: 95%;
        margin: 30px auto;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .join_image{
        width: 70%;
        height: 383px;
        order: 3;
    }
    
    .join_text{
        width: 95%;
        margin-left: 0px;
        order: 2;
        margin-bottom: 30px;
    }


}

@media(max-width: 480px){

    .title{
        font-size: var(--titleMobile);
        line-height: var(--titleLHMobile);
    }
    
    .subtitle{
        font-size: var(--subtitleMobile);
        line-height: var(--subtitleLHMobile);
        width: 90%;
        margin-bottom: 20px;
    }
    
    .header_text{
        width: 197px;
        top: 50%;
    }

    /* Middle image*/
    .middle_image{
    width: 100%;
    }

}
