* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Archivo", sans-serif;
}

.container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

/* Navbar */

.navbar {
    background-color: #000000;
    width: 100%;
    height: 65px;
    display: flex;
    position: fixed;
    top: 0;
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-menu {
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

/* Hamburguer */

.hamburguer {
    width: 43px;
    height: 5px;
    background-color: #ffffff;
    transition: all 0.5s ease-in-out;
}

.hamburguer::before,
.hamburguer::after {
    content: "";
    position: absolute;
    width: 43px;
    height: 5px;
    background-color: #ffffff;
    transition: all 0.5s ease-in-out;
}

.hamburguer::before {
    transform: translateY(-10px);
}

.hamburguer::after {
    transform: translateY(10px);
}

/* Logo */

.logo {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
}

/* Main */

main {
    width: 100%;
    height: 100vh;
    margin-top: 65px;
    background-image: url("../../img/robocup_fiap.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.background-transparent {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.header-robocup {
    color: #ffffff;
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.header-content {
    width: 650px;
    height: 380px;
}

.title-main {
    font-weight: bold;
    font-size: 6em;
    line-height: 120px;
}

.text-main {
    font-weight: 400;
    font-size: 1.5em;
    margin-top: 25px;
}

/* About Robocup */

.robocup-about{
    width: 100%;
    height: 100vh;
}

.robocup-about__description{
    margin-top: 115px;
    display: flex;
    justify-content: space-between;
}

.robocup-about__title{
    font-weight: bold;
    font-size: 3.5em;
    line-height: 65px;
    width: 35%;
    margin-right: 90px;
    margin-left: 180px;
}

.robocup-about__text{
    font-size: 1.5em;
    width: 40%;
}