*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
}

.container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

/* Navbar */

.navbar{
    background-color: #000000;
    width: 100vw;
    height: 65px;
    display: flex;
}

.navbar-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-menu{
    cursor: pointer;
    transition:  all .5s ease-in-out;
}

/* Hamburguer */

.hamburguer{
    width: 45px;
    height: 5px;
    background-color: #ffffff;
    transition:  all .5s ease-in-out;
}

.hamburguer::before,
.hamburguer::after{
    content: '';
    position: absolute;
    width: 45px;
    height: 5px;
    background-color: #ffffff;
    transition:  all .5s ease-in-out;
}

.hamburguer::before{
    transform: translateY(-12px);
}

.hamburguer::after{
    transform: translateY(12px);
}

/* Logo */

.logo{
    font-size: 1.70em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
}
