* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Archivo", sans-serif;
}

a,
ul,
li {
    text-decoration: none;
    list-style: none;
    color: none;
}

body{
    margin-top: 65px;
}