* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Archivo", sans-serif;
}

a,
ul,
li {
    text-decoration: none;
    list-style: none;
    color: none;
}

canvas {
    display: block;
    margin: 40px auto;
    width: 100%;
}

body {
    margin-top: 65px;
}