.loader-game{
    height: 50vh;
}

.loader-game__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.loader-game__text{
    padding-bottom: 50px;
}


.loader {
    z-index: -1;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #000000;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @media(max-width: 480px){
    .loader-game{
        height: 70vh;
    }
    .loader-game__text{
        text-align: center;
    }
  }