.titleGame{
  padding-top: 50px;
  padding-bottom: 15px;
}

.gameDescription{
  height: auto;
}

.descriptionGame{
  font-size: 24px;
  line-height: 30px;
  margin-top: 10px;
}

.wayToPlay{
  margin-top: 50px;
  border: 3px solid rgb(19, 33, 78);
  height: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
  width: 100%;
}