.title {
    font-size: var(--title);
    line-height: var(--titleLH);
    margin-bottom: 5px;
}

.subtitle {
    font-size: var(--subtitle);
}

.text {
    font-size: 20px;
    line-height: 32px;
}

/* Header  */
.header-robo {
    padding: 80px 0px;
    top: 65px;
    background-color: #575757;
}

.header-robo__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
}

.header-robo__description {
    height: 500px;
    width: 735px;
    display: flex;
    align-items: flex-end;
    margin-right: 50px;
}

.header-robo__text {
    padding: 50px 0px;
}

.header-robo__image {
    width: 750px;
    height: 500px;
    object-fit: cover;
}

/* Middle content */
.middle{
    width: 100%;
}

.middle__description{
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
}

.middle_text {
    width: 50%;
    margin-right: 20px;
}
.middle-text__continue{
    padding-bottom: 50px;
}

.middle_image {
    width: 50%;
    object-fit: cover;
}

/* Galeria */

.gallery_mobile {
    display: none;
}

.galery{
    background-color: #000;
}

.robo_gallery {
    grid-template-rows: repeat(8, 1fr);
    height: 1054px;
    padding: 50px 0px;
}

.robo_photo {
    object-fit: cover;
}

.robo_gallery div:nth-child(1) {
    grid-column: 1/5;
    grid-row: 1/3;
}

.robo_gallery div:nth-child(2) {
    grid-column: 5/9;
    grid-row: 1/3;
}

.robo_gallery div:nth-child(3) {
    grid-column: 9/13;
    grid-row: 1/6;
}

.robo_gallery div:nth-child(4) {
    grid-column: 1/4;
    grid-row: 3/6;
}

.robo_gallery div:nth-child(5) {
    grid-column: 4/9;
    grid-row: 3/6;
}

.robo_gallery div:nth-child(6) {
    grid-column: 1/6;
    grid-row: 6/10;
}

.robo_gallery div:nth-child(7) {
    grid-column: 6/13;
    grid-row: 6/10;
}

/* Robo Game */
.robo-game__content{
    display: flex;
    align-items: center;
    padding: 50px 0px;
}

.game_image_container {
    width: 50%;
    height: 512px;
    margin-right: 20px;
}

.robo_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.robo-game__text{
    font-size: 36px;
    width: 75%;
}

.robo-game_description{
    width: 500px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@media (max-width: 480px) {

    .title {
        font-size: var(--titleMobile);
        line-height: var(--titleLHMobile);
    }

    .subtitle {
        font-size: var(--subtitleMobile);
        line-height: var(--subtitleLHMobile);
    }

    .text {
        font-size: var(--pSizeMobile);
        line-height: var(--pLHMobile);
    }

    /* Header */
    .header-robo {
        padding: 40px 0px;
    }
    
    .header-robo__content {
        flex-direction: column;
    }
    
    .header-robo__description {
        height: auto;
        width: 100%;
        margin-right: 0px ;
    }
    
    .header-robo__text {
        padding-top: 0px;
        padding-bottom:  50px;
    }
    
    .header-robo__image {
        width: 100%;
        height: 250px;
    }

    /* Middle content */
    .middle__description{
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 20px;
    }
    
    .middle_text {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }
    .middle-text__continue{
        padding-bottom: 40px;
    }
    
    .middle_image {
        width: 100%;
    }

    /* Galeria */
    .robo_gallery {
        display: none;
    }

    .gallery_mobile {
        width: 100%;
        height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 20px solid;
        background-color: #000;
    }
    
    .gallery_images {
        width: 100%;
        object-fit: cover;
    }

    /* Robo Game*/

    .robo-game__content{
        flex-direction: column;
    }
    
    .game_image_container {
        width: 100%;
        height: 300px;
        margin-right: 0px;
    }
    
    .robo_image {
        width: 100%;
        height: 100%;
    }
    
    .robo-game__text{
        font-size: 24px;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .robo-game_description{
        width: 100%;
        height: auto;
    }
}

@media (min-width:481px) and (max-width: 768px) {
    .title {
        font-size: 45px;
        line-height: var(--titleLHMid);
    }

    .header-robo {
        padding: 0px 0px;
    }
    
    .header-robo__description {
        width: 50%;
        margin-right: 30px;
    }
    
    .header-robo__text {
        padding: 100px 0px;
    }
    
    .header-robo__image {
        width: 50%;
        height: 350px;
    }

    /* Galeria */
    .galery{
        background-color: black;
        padding-top: 5px;
        padding-bottom: 25px;
    }
    .robo_gallery {
        display: none;
    }

    .gallery_mobile {
        height: 400px;
        display: flex;
    }

    /* Robo */
    .game_image_container {
        width: 700px;
        height: 400px;
    }
    
    .robo_image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .robo-game__text{
        width: 100%;
    }
}